nav
	.nav-wrapper
		a.brand-logo(href='/') Find your Doctor
			i(class='fa fa-user-md')
			ul#nav-mobile.right.hide-on-med-and-down
				li
					a(class="modal-trigger" href='#login') Log in
				li
					a(href='/logout') Log out
				li
					a(href='/register') Sign up