html
	head
		title Health Map

		link(type='text/css' rel='stylesheet' href='/css/materialize.min.css' )
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(type='text/css' rel='stylesheet' href='/css/main.css')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		h3 this is the index page!

		#map


script(type="text/javascript" src="/js/jquery-3.1.1.min.js")
script(type="text/javascript" src="/js/materialize.min.js")
script(type="text/javascript" src="/js/main.js")
script(async defer
    src="https://maps.googleapis.com/maps/api/js?key=" + process.env.GMAPS_KEY + "&callback=initMap")
