html

	-var title = "Expat Health Map"
	include includes/header.pug

	body
		main
			include includes/navbar.pug

			#login.modal.modal-fixed-footer
				.modal-content
					form(method='post' action='/login/user')

						p E-mail
						input(type='email', name='loginEmail' required)

						p Password
						input(type='password', name='loginPassword' required)

						br
						br
						input(type='submit' value='submit')
				.modal-footer
					a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close


				
			div#floating-panel
				form
					p Search your Language:
						select(id='pickLanguage' name='languages')
							option Show All
						input(id="submitLang" type="submit" value="submit")
	
			div#map


		include includes/footer.pug