html

	-var title = "Sign Up"
	include includes/header.pug

	body
		main
			include includes/navbar.pug

			div.container.center-align
				form(method='post' action='/users' onsubmit="return passwordCheck()")

					p Username
					input(type='text', name='inputName' required pattern=".{3,20}" title="Choose a username that contains 3 to 20 characters")

					p E-mail
					input(type='email', name='inputEmail' required)

					p Password
					input#pass1(type='password', name='inputPassword' required pattern=".{8,15}" title="Choose a password that contains 8 to 15 characters")

					p#passCheck Repeat password
					input#pass2(type='password', name='inputPassword2' required pattern=".{8,15}" title="Choose a password that contains 8 to 15 characters")

					br
					br
					input(type='submit' value='submit')

		include includes/footer.pug
