html
	head
		title New Review

		link(type='text/css' rel='stylesheet' href='/css/materialize.min.css' )
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(type='text/css' rel='stylesheet' href='/css/main.css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="format-detection" content="telephone=no")


	body

		main
			nav
				.nav-wrapper
						a.brand-logo(href='/') Find your Doctor
							i(class='fa fa-user-md')
							ul#nav-mobile.right.hide-on-med-and-down
								li
									a(class="modal-trigger" href='#login') Log in
								li
									a(href='/logout') Log out

			div(class="container")
				h4 #{data.name}
				br

				p Language spoken:

				form(method='post' action='/addReview')
					p 
						select(id='pickLanguage' name='languages')
							option 
					
					br
					p EHIC acceptance
					p
						input#accept(class='ehic' name='group2', type='radio' value='1')
						label(for='accept') 1: Accepted
					p
						input#reimbursed(class='ehic' name='group2', type='radio' value='2')
						label(for='reimbursed') 2: Accepted, but reimbursed
					p
						input#notAccepted(class='ehic' name='group2', type='radio' value='3')
						label(for='notAccepted') 3: Refused
					br
					p How many stars would you give?
					p
						input#point1(name='group1', type='radio' value='1')
						label(for='point1') 1: Sucks
					p
						input#point2(name='group1', type='radio' value='2')
						label(for='point2') 2: Alright...    
					p
						input#point3(name='group1', type='radio' value='3')
						label(for='point3') 3: Decent
					p
						input#point4(name='group1', type='radio' value='4')
						label(for='point4') 4: Surprisingly good
					p
						input#point5(name='group1', type='radio' value='5')
						label(for='point5') 5: I was overwhelmed with joy
					br
					p Comments?
					textarea(type='text' name='inputComment')
					br
					p
					input(id="submitReview" type='submit' value='submit')

		footer(class='page-footer')
			div(class='container')
				div(class='row')
					div(class='grey-text text-lighten-4') kkjjklsdfjfaskl

script(type="text/javascript" src="/js/jquery-3.1.1.min.js")
script(type="text/javascript" src="/js/materialize.min.js")
script(type="text/javascript" src="/js/main.js")
script(async defer
    src="https://maps.googleapis.com/maps/api/js?key=" + process.env.GMAPS_KEY)
