html

	-var title = "Review"
	include includes/header.pug

	body

		main
			include includes/navbar.pug

			div(class="container")
				h4 #{data.name}
				br

				p Language spoken (required)

				form(method='post' action='/addReview' onsubmit="return validate_radios()")
					p 
						select(id='pickLanguage' name='languages')
							option 
					
					br
					p EHIC acceptance (required)
					p
						input#accept(class='ehic' name='group2', type='radio' value='1')
						label(for='accept') 1: Accepted
					p
						input#reimbursed(class='ehic' name='group2', type='radio' value='2')
						label(for='reimbursed') 2: Accepted, but reimbursed
					p
						input#notAccepted(class='ehic' name='group2', type='radio' value='3')
						label(for='notAccepted') 3: Refused
					p
						input#na(class='ehic' name='group2', type='radio' value='4')
						label(for='na') 4: N/A
					br
					p How many stars would you give? (required)
					p
						input#point1(name='group1', type='radio' value='1')
						label(for='point1') 1: Sucks
					p
						input#point2(name='group1', type='radio' value='2')
						label(for='point2') 2: Alright...    
					p
						input#point3(name='group1', type='radio' value='3')
						label(for='point3') 3: Decent
					p
						input#point4(name='group1', type='radio' value='4')
						label(for='point4') 4: Surprisingly good
					p
						input#point5(name='group1', type='radio' value='5')
						label(for='point5') 5: I was overwhelmed with joy
					br
					p Comments?
					textarea(type='text' name='inputComment' pattern=".{3,700}" title="Please do not exceed the comment limit of 700 words")
					br
					p
					input(id="submitReview" type='submit' value='submit')

		include includes/footer.pug
