#map {
    height: 80%;
  }

#infowindow {
	padding: 0px;
}

.box {
	border-color: #808080;
	border-style: solid;
	border-width: 0.3px;
	padding: 10px;
}

#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0;
}

.gm-style-iw {
   width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   border-radius: 2px 2px 0 0;
}

.info {
	padding: 20px;
}